
<!DOCTYPE html>
<html lang="en">
<head>
    {{> meta}}
</head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/default.css"/>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script type="text/javascript">
        var contextPath = "";
    </script>
<body>
    {{> header}}
    <div class="container-fluid">
        <div class="row">
            {{> left}}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Kafka</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                    </div>
                </div>
                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <form id="frm" name="frm" method="post">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="topic"></label>
                            <input type="text" class="form-control" id="topic" name="topic" required="true" placeholder="Topic"/>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="msg"></label>
                            <input type="text" class="form-control" id="userId" name="userId" required="true" placeholder="User id"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="msg"></label>
                            <input type="text" class="form-control" id="msg" name="msg" required="true" placeholder="message"/>
                        </div>
                    </div>
                    </form>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-sm" type="button" id="btn_send">Send</button>
                            <button class="btn btn-success btn-sm" type="button" id="btn_read">Start read</button>
                            <button class="btn btn-danger btn-sm" type="button" id="btn_cancel">Stop read</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="log"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/static/js/kafka.js"></script>
    {{> footer}}
</body>
</html>